<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The H Times - publish date here</title>
  <link href="/style.css" rel="stylesheet" type="text/css" />
  <script src="/script.js"></script>
  <link rel="icon" href="/HTS.png" />
</head>
<body>
  <h1>The H Times</h1>

  <a href="/news/">Go back</a>
  
  <h2>publish date here</h2>
  <h3>edition name here</h3>

  <div id="toc" toplvhead="3"></div>

  <div id="content">
    <p>open here</p>

    <h3>sunday</h3>

    <h4>news name here</h4>

    <h3>monday</h3>

    <h3>tuesday</h3>

    <h3>wednesday</h3>

    <h3>thursday</h3>

    <h3>friday</h3>

    <h3>saturday</h3>
  </div>
</body>
</html>